:root {
    --aqua: rgb(173, 221, 221);
    --yellow: rgb(239, 232, 104);
}



#hist {
    background-color:var(--aqua);
}

h1, h4 {
    background-color: var(--aqua);
}

h2 {
    background-color: var(--yellow);

}